#gamesFollowed{
    display: flex;
    justify-content: space-evenly;
    
}

#eachGame{
display: flex;
align-items:center;
color: black;

}

#championName{
    display: flex;
    justify-content: center;
}

#cardButtons{
    display: flex;
    justify-content: left;
}

#gamesToFollow{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#eachGame2{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    
    }